*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
}

.color1{
    color:darkslateblue;
    font-size: 60px;
}

.color2{
    color: salmon;
    font-size: 60px;
}

p{
    color: slategray;
    
}

.button{
    text-decoration: none;
    background-image: linear-gradient( tomato, salmon);
    padding: 20px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
   
    
}

.half-width{
    width: 40%;
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{
    width: 100%;
}

section{
    height: 650px;
    padding-bottom: 150px;
}

.color3{
    color:darkslateblue;
    font-size: 40px;
}

.section3{
    background-color:#F8F9FC;
    padding-top: 110px;
    padding-bottom: 30px;
}

.color4{
    color: darkslateblue;
    font-size: 40px;
    text-align: center;
    padding-bottom: 90px;
    
}

.color5{
    color: salmon;
}

.box {
    width: 27%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    border: 10px solid white;
    background-color: white;
   
}

.box-wrapper{
    width: 1250px;
    margin: 0 auto;
    }

.box-layout{
    box-shadow: 1px 1px 10px gray;
    height: 350px;
    border-radius: 10px;
    padding-right: 6px;
    margin-right: 3px;

}

.color6{
    color: darkslateblue;
}


.image-class{
    width: 100%;
    
    
}

.working-inquiry{
    background-color: #FFFFFF;
}

.center-image{
    width: 70px;
}

.background-image{
    background-image: url("images/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    height: 500px;
}

.color7{
    font-size: 50px;
    color:white;
    padding-top: 220px;
    margin-left: 330px;
}

#link1{
    text-decoration: none;
    background-image: linear-gradient( tomato, salmon);
    padding: 20px 38px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 1030px;
    margin-top: -55px;  
    position: absolute;
    
   }

  
   .color8{
    color: slategray;
    text-align: center;
    
   }

   .color9{
    color:darkslateblue;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
    






